<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageStitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ImageStitcher.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="SplitContainerSplitterDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RandomizeOnClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseFileOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenFolderAfterSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideLmode" serializeAs="String">
                <value>ordered</value>
            </setting>
            <setting name="SlideRmode" serializeAs="String">
                <value>ordered</value>
            </setting>
            <setting name="SlideTimeInterval" serializeAs="String">
                <value>5 s</value>
            </setting>
            <setting name="DefaultDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberLastFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loaddefaultdir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CropOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkModeColor" serializeAs="String">
                <value>#181A1B</value>
            </setting>
            <setting name="DarkModeColorAccent" serializeAs="String">
                <value>#424242</value>
            </setting>
            <setting name="DarkModeColorText" serializeAs="String">
                <value>#CCD6DD</value>
            </setting>
            <setting name="ImageSaveQuality" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="NumberOfPanels" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="scriptonload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scriptloc" serializeAs="String">
                <value />
            </setting>
            <setting name="scriptwait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showinfo" serializeAs="String">
                <value>False</value>
            </setting>
        </ImageStitcher.Properties.Settings>
    </userSettings>
</configuration>