<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageLibrary" version="3.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
  <package id="Xabe.FFmpeg" version="5.2.0" targetFramework="net48" />
</packages>